@import "./styles/btns";
@import "./styles/general";
@import "./styles/classes.scss";
@import "./styles/variable.scss";
@import "./styles/loader.scss";

*, :after, :before {
  box-sizing: border-box;
}

body {
  background-color: $main !important;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  font-weight: bold !important;
}
h3 {
  margin: 40px 0 20px !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 14px;
}

.text-error {
  color: #e73d4a;
}
